.home-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 92vh;
    background-image: url('../img/tlo2.jpg');
    background-size: cover;
}

.home-container h1 {
    font-size: 18px; 
    font-style: italic; 
    font-size: 50px; 
    color:white;
    text-shadow: 1px 1px 5px black;
    margin: 0 150px 50px 150px;
}