.game-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;

}

.game-board--field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32%;
    height: 24vh;
    margin-bottom: 2%;
    background: silver;
    font-family: 'Comic Sans MS';
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.game-board--field:after {
    content: "";
    display:block;
    padding: 100%;
}

/* @media screen and (min-width: 768px) {
    
} */
  
@media screen and (min-width: 1200px) {
    .game-board--field:hover {
        background: gray;
    }
}