.canvas {
    cursor: none;
    border-radius: 10px;
    left: 100px;
}

.canvas-full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 0;

}

.paddle-game-container {
    display: flex;
    flex-wrap: wrap;
    height: 92vh;
    justify-content: space-between;
    padding: 10px 23% 2% 2%; 
}


.paddle-game-container h1, h2 {
    color: white;
}

.btn-full-screen {
    position: fixed;
    top: 65px;
    right: 10px;
    font-size: 20px;
}

.btn-start-stop-reset{
    display: block;
    width: 220px;
    margin-bottom: 10px;
}

