.canvas {
    cursor: none;
    border-radius: 10px;
    left: 100px;
}

.paddle-game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1% 23% 2% 2%; 
}


.paddle-game-container h1, h2 {
    color: white;
}