.settings-container {
    color:white;
    margin-top: 10px;
}

.settings-container h1,h3 {
    color:white;
}

.settings-frame {
    border-radius: 10px;
    border: 2px solid #8b8b8b;
    padding: 20px;
    height: 200px;
    margin-bottom: 10px;
}