body {
  background: #121212;
}

.container {
  margin: 0 auto;
  width: 960px;
  width: 80vh
}

.menu-main-view {
  font-size: 18px;
  background: #323232;
}

.ant-menu-horizontal {
  display: flex;
  justify-content: center;
  line-height: 50px;
  border-bottom: 2px solid #e8e8e8;
}

.ant-menu-horizontal > .ant-menu-item > a {
  margin: 0 28px;
  color: #8b8b8b;
}

.ant-menu-horizontal > .ant-menu-item-selected > a {
  color: white;
  font-weight: 500;
}

.ant-menu-item-selected > a, .ant-menu-item-selected > a:hover {
  color: #89bdee;
}


