body {
  background: #121212;
}

.container {
  margin: 0 auto;
  width: 960px;
  width: 80vh;
}

.menu-main-view {
  font-size: 18px;
  background: #323232;
}

.ant-menu-horizontal {
  display: flex;
  justify-content: center;
  line-height: 50px;
  border-bottom: 2px solid #e8e8e8;
}

.ant-menu-horizontal > .ant-menu-item > a {
  margin: 0 28px;
  color: #8b8b8b;
}

.ant-menu-horizontal > .ant-menu-item-selected > a {
  color: white;
  font-weight: 500;
}

.ant-menu-item-selected > a, .ant-menu-item-selected > a:hover {
  color: #89bdee;
}

.lang-radio-group {
  position: fixed;
  right: 10px;
  bottom: 10px;
}
.ant-radio-button-wrapper  {
  color: #fff;
  background-color: rgba(51, 50, 50, 0.5);
  border: none;
  box-shadow: 1px 1px 1px #a0c8ee;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color:black;
  background-color: rgba(255, 244, 244, 0.767);
  border-color: #1890ff;
  -webkit-box-shadow: 2px 0 0 0 #1890ff;
  box-shadow: 2px 0 0 0 #1890ff;

}


